.page {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.rotationSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 70rem) {
    .rotationSection {
        grid-template-columns: 1fr;
    }
}