.dashboard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 64rem) {
  .grid {
    grid-template-columns: 1fr;
  }
}